@font-face {
    font-family: 'Yekan';
    src: url('/fonts/Yekan.woff') format('woff'), url('/fonts/Yekan.woff2') format('woff2');
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'Yekan';
    background-color: rgb(255, 255, 255);
}

table {
    background-color: rgb(238, 231, 231);
}

.table td {
    vertical-align: middle;
    text-align: center; 
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}

.table-no-border td {
    border: none; 
}

.bg-custom-header {
    background-color: #007bff; 
    color: white;
}

td:hover {
    transition: 0.5s ease-in-out;
    background-color: rgb(212, 212, 212);
}

h2 {
    color: #007bff;
}
